body {
  font-family: "Red Hat Display", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #f2f2ec;
}

.sectionFundo {
  background-image: url(./Imagens/homepage_1-YNqLXxVN47sX10zJ.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 130% 100%;
  background-position: center;
  padding-bottom: 100px;
  /* height: 100%; */
}

.conteiner {
  max-width: 1280px;
  padding-top: 80px;
}

/* GERAL */

section {
  justify-content: center;
  display: flex;
}

nav {
  justify-content: center;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  color: white;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-4 {
  margin-top: 1.25rem !important;
}

.p-1 {
  padding: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.p-4 {
  padding: 1.25rem !important;
}
.col {
  flex: 1;
}

.item {
  text-align: center;
}

.justifyAround {
  justify-content: space-around;
}
.justifyBet {
  justify-content: space-between;
}
.alingCenter {
  align-items: center;
}
.justifstart {
  justify-content: start !important;
}

.stylenav {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  position: relative;
  align-items: center;
  transition: translate (-50%, 50%);
  justify-content: space-between;
  margin-left: 35%;
  margin-top: 3%;
}

.logo {
  height: 30px;
  width: 90px;
  position: relative;
  align-items: center;
  top: 30px;
  left: 48%;
  transition: translate (-50%, 50%);
}

.H1Seçao1 {
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  font-size: 240px;
  color: white;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  text-align: center;
  padding-top: 150px;
}

.paragrafSeçao1 {
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  color: white;
  margin: 0px;
  padding: 0px;
  text-align: center;
  padding-top: 60px;
}

.logoRedesSociais {
  position: relative;
  justify-content: space-between;
  padding-top: 60px;
  width: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* SEÇÃO 2 */

.imgPrincipal {
  border-radius: 50px;
}
.paragrafoSeçao2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #565656;
  margin-bottom: 0px;

  margin-top: 100px;
}
.h2Seçao2 {
  font-size: 90px;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  color: black;
  margin-top: 0px;

  margin-bottom: 40px;
}
.paragra2foSeçao2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  color: #1a1a1a;
}

.btnRed {
  background-color: #e31c1c;
  color: white;
  font-size: 14px;
  padding-top: 15px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 15px;
}
.alinhamentoBtn1 {
  margin-top: 100px;
}

.iconeShared {
  width: 20px;
  padding-left: 30px;
}

/* Seção 3 */

.d-block {
  display: block !important;
}

.ancoraSeeMore {
  color: #565656;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 25px;
  font-family: "Red Hat Display", sans-serif;
}
.h2seçao3 {
  font-size: 60px;
  font-weight: 900;
  font-family: "Red Hat Display", sans-serif;
  color: black;
  margin: 0px;
  padding: 0px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.grupoImg {
  border-radius: 50px;
}
.span1Seçao3 {
  font-size: 20px;
  color: black;
  font-weight: 700;
}
.span2Seçao3 {
  font-size: 16px;
  color: #565656;
}
.w-100 {
  width: 100%;
}

/*Seçao 4*/

.sectionFundo2 {
  margin-top: 120px;
  background-image: url(./Imagens/anhedo-AoP1EOyN8NcOnpbD.avif);
  margin-bottom: 100px;
  background-size: 130% 100%;
  background-position: center;
}
.itemDireita {
  /* background-color: antiquewhite; */
  width: 50%;
  margin-left: 50px;
  padding: 0px;
}
.section4 {
  justify-content: start;
}

.formatSpanTitulo {
  margin-top: 100px;
  font-size: 90px;
  font-family: "Red Hat Display", sans-serif;
  color: white;
  font-weight: 700;
  position: relative;
  display: block;
  margin-bottom: 15px;
}
.formatSpan1 {
  font-size: 24px;
  font-family: "Red Hat Display", sans-serif;
  color: white;
  font-weight: 700;
  position: relative;
  display: block;
}
.formatSpan2 {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  color: white;
  position: relative;
  display: block;
  margin-bottom: 100px;
}
